<script type="text/javascript" charset="utf-8">
    var lang = function (msgid) {
        return window.i18n[msgid] || msgid;
    };

    window.i18n = {
        'Are you sure?': '{{ lang("Are you sure?") }}',
        'Are you sure to remove data?': '{{ lang("Are you sure to remove data?") }}',
        'Are you sure to empty trash?': '{{ lang("Are you sure to empty trash?") }}',
        'Are you sure to delete %s files?': '{{ lang("Are you sure to delete %s files?") }}',
        'It is not possible to get back removed file!': '{{ lang("It is not possible to get back removed file!") }}',
        'Yes, Delete': '{{ lang("Yes, Delete") }}',
        'Cancel': '{{ lang("Cancel") }}',
        'Share': '{{ lang("Share") }}',
        'Delete': '{{ lang("Delete") }}',
        'Close': '{{ lang("Close") }}',
        'Success': '{{ lang("Success") }}',
        'Info': '{{ lang("Info") }}',
        'Error': '{{ lang("Error") }}',
        'Copied!': '{{ lang("Copied!") }}',
        'Oops, unable to copy': '{{ lang("Oops, unable to copy") }}',
        'Please select a file': '{{ lang("Please select a file") }}',
        '%s files successfully deleted': '{{ lang("%s files successfully deleted") }}',
        '%s files successfully shared': '{{ lang("%s files successfully shared") }}',
        'Fill required fields': '{{ lang("Fill required fields") }}',
        'Oops! An error occured. Please try again later!': '{{ lang("Oops! An error occured. Please try again later!") }}',
        'Done': '{{ lang("Done") }}',
        'Failed': '{{ lang("Failed") }}',
        'Loading...': '{{ lang("Loading...") }}'
    };
</script>