<footer id="footer">
     <div id="c">
          <div class="container">
               <div class="text-center">
                    Copyright &copy; 2019 <strong><a href="{{ constant('APPURL') }}">{{ generalSetting('site_name') }}</a></strong> |
                    {{ lang("Created by") }} <strong><a href="https://github.com/fiand1996">Fiand T</a></strong> |
                    {{ lang("Version") }} <strong>{{ constant('APP_VERSION') }}</strong>
               </div>
          </div>
     </div>
</footer>